
body { font-family:'verdana'; }

h1 { 
	font-size:16px;
	color:#333;
}

video#media-video::-webkit-media-controls {
  display: none;
}

.hide{display: none;}
#media-player{position: relative;width: 500px;}
#media-player video{width: 100%}
#media-controls{position: absolute;bottom: 10px;width: 100%;}
#media-controls button {
	text-indent:-9999px;
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	background:transparent url('buttons.png') no-repeat 0 0;
	margin: 5px;
}
#media-controls button.full-screen{background:transparent url('full-screens-15x15.png') no-repeat 0 0;}
#media-controls button#play-next{background:transparent url('next.png') no-repeat 0 0;}
#media-controls button#play-prev{background:transparent url('next.png') no-repeat 0 0;
-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
  }
#media-controls button.small-screen{background:transparent url('small-screens-15x15.png') no-repeat 0 0;}
#media-controls button.pause { background-position:-19px 0; }
#media-controls button.stop { background-position:-38px 0; }
#media-controls button.volume-plus { background-position:-57px 0; }
#media-controls button.volume-minus { background-position:-76px 0; }
#media-controls button.mute { background-position:-95px 0; }
#media-controls button.unmute { background-position:-114px 0; }
#media-controls button.replay { background-position:-133px 0; }
.ctl-left {float: left;display: inline-block;width: 70%;}
.ctl-right {float: right;display: inline-block;width: 30%;}
#volume-ctl,.dp-ib{display: inline-block;}
.ctl-right button{float: right;}
progress {
	color:#fff;
	font-size:12px;
	width:100%;
	height:10px;
	border:none;
	margin-right:5px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('item.png') no-repeat 0 4px;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	bottom: -7px;
}

/*
#volume {
    
    margin: 0 auto;
    height:15px;
    width: 50px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-empty.png') no-repeat left top;
  	border: none;
  	outline: none;
  	display: inline-block;
}

#volume .ui-slider-range-min {
    height:15px;
    width: 300px;
    position: absolute;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-full.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume .ui-slider-handle {
    width: 20px;
    height:20px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-knob.png') no-repeat left top;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    outline: none;
    border: none;
}*/
.full-screen-parent
{
	width: 100%;
    position: absolute;
    z-index: 99999999999;
    left: 0px;
    right: 0px;
}
#volume{height: 5px;width: 70px;display: inline-block;margin: 0 5px;}
#volume .ui-slider-handle{width: 4px;}
#volume.ui-slider-horizontal .ui-slider-handle{top: -8px; margin-left: 0px;}



